{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">

    <h1 class="display-6 fw-bold text-uppercase text-center mt-5 mb-5">My Shopping cart</h1>

    {% for item in items %}
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-2">
                    <div class="card">
                        <img src="{{ item.product.image_url }}" alt="image">
                    </div>
                </div>
                <div class="col-10 align-content-center">
                    <h6 class="fw-bold text-uppercase">{{ item.product.name }}</h6>
                    <p>Color: Biege</p>
                    <p>Size: 40</p>


                    <div class="d-inline-flex border rounded-1 border-black py-1 px-3 text-decoration-none mb-3">
                        <i id="myNegative" class="bi bi-dash update-cart" 
                        data-product={{item.product.id}} data-action="remove"></i> &nbsp; {{ item.quantity }} &nbsp;<i id="myPositive" class="bi bi-plus update-cart" data-product={{item.product.id}} data-action="add" ></i>
                    </div>

                    <p class="small fw-lighter float-end" >Unit price: $ {{ item.product.price }}</p><br>
                        
                    <p class="small float-end">Total price: <span class="fw-bold">$ {{ item.get_total }}</span></p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-4 px-2">
            <div class="card text-bg-light mx-3">
                <div class="card-body">
                    <p class="fw-bold">Cart item total <span class="float-end">{{ order.get_cart_items}}</span> </p>
                  <p>DPD</p>
                  <p><i class="bi bi-truck"></i>&nbsp; <span class="small text-normal">Delivery approx is within 1 - 3 business days</span> </p>
                  <p class="fw-bold">Grand total <span class="float-end">$ {{order.get_cart_total }}</span> </p>
                </div>
              </div>
              <div class="btn btn-dark text-uppercase w-100 mx-3 mt-4 py-2">Checkout</div>
        </div>
    </div>
    

</div>

{% endblock content %}