asgiref==3.8.1
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
coverage==7.6.1
crispy-bootstrap4==2024.1
cryptography==42.0.8
Django==5.0.6
django-allauth==0.63.3
django-crispy-forms==2.1
django-currencies @ git+https://github.com/panosl/django-currencies.git@594f7cd2a2f4e6396565566c739de63599d6a1ce
exceptiongroup==1.2.2
factory_boy==3.3.1
Faker==30.0.0
gunicorn==22.0.0
idna==3.7
inflection==0.5.1
iniconfig==2.0.0
jsonfield==2.1.1
oauthlib==3.2.2
packaging==24.1
paynow==1.0.7
pillow==10.3.0
pluggy==1.5.0
postgres==4.0
psycopg2-binary==2.9.9
psycopg2-pool==1.2
pycparser==2.22
PyJWT==2.8.0
pytest==8.3.3
pytest-django==4.9.0
pytest-factoryboy==2.7.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==0.21.1
requests==2.32.3
requests-oauthlib==2.0.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tomli==2.0.1
typing_extensions==4.12.1
urllib3==2.2.1
whitenoise==6.6.0
