{% extends "base.html" %}
{% load static %}
{% load currency %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        {% for msg in messages %}
        <div {% if msg.tags %} class="alert alert-{{msg.tags}}"{% endif %} role="alert">
            {{msg}}
        </div>
        {% endfor %}
        <div class="col-md-6 mt-5">
            <h6 class="fw-bold mb-5">Delivery details</h6>
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <h6 class="text-center fw-bold">Delivery options</h6>
                <form method="POST" class="mt-5">
                    {% csrf_token %}
                    {{ pickup_form | crispy }}
                    <input id="pickupButton" class="btn btn-primary mt-2 d-none" type="submit" value="Save">
                </form>
                <p class="fst-italics small">Check this box if you want to do an instore pickup</p>
            </div>
        
        <div id="addressSection" class="shadow p-3 mb-5 bg-body-tertiary rounded d-block">
            <h6 class="text-center fw-bold">Delivery address & contact details</h6>
            <form method="POST">
                {% csrf_token %}
                {{form | crispy}}
                <input class="btn btn-primary mt-2" type="submit" value="Submit">
            </form>
        </div>

            <div class="shadow-lg p-3 mb-2 bg-body-tertiary rounded mt-5 w-50">
               <a id="paynowButton" class="btn" href="{% url 'orders:payment' %}"> <img class="img mt-2" src="{% static 'img/button_order_large.svg' %}" alt="orderbutton"></a>
               <div class="spinner-border text-info d-none float-end" id="loadPaynow" role="status"></div>
               <p class="small fst-italic">We use secure payment systems</p>
            </div>



        </div>



        
        <div class="col-md-6 mt-5">
            <h6 class="fw-bold text-center mb-5"> Order overview </h6>
            <p class="fw-bold"> {{ order.get_cart_total|currency:request.session.currency }} {{ request.session.currency }} <a class="float-end" href="{% url 'orders:cart' %}"><i class="bi bi-arrow-left-short"></i> &nbsp;Change order</a> </p>
            <hr>



            {% for item in items %}
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <div class="card">
                            <img src="{{item.product.image_url}}" alt="image">
                        </div>
                    </div>
                

                    <div class="col-md-8">
                        <h6 class="fw-bold">{{ item.product.name }}</h6>
                        <p>Color: {{ item.product_variant.color.name }} <br>
                            Size: {{ item.product_variant.size.name }} <br>
                            Quantity: {{ item.quantity }}
                        </p>
                        
                        <p class="small fw-lighter float-end"> 
                            Unit price: {{ item.product.price|currency:request.session.currency }} {{ request.session.currency }}
                        </p>
                         <br>   
                        <p class="small float-end">Total price: <span class="fw-bold"> {{ item.get_total|currency:request.session.currency }} {{ request.session.currency }} </span>
                        </p>
                    </div>

                </div>
                {% endfor %}

                <hr>


                <div class="shadow-none p-3 mb-5 bg-body-tertiary p-2 align-self-end w-100">
                    <p class="small fw-lighter"> 
                        Delivery approx. 1 - 3 business days 
                    </p>
                    <p>Delivery fee: R20</p>
                    <p>
                        Your order: <span class="float-end">$ {{order.get_cart_total}}</span> 
                    </p>
                </div>




        </div>
    </div>
</div>



{% endblock content %}